<h1>Searching for - <%= @search_term %></h1>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd')%>>
      <td><%= link_to image_tag(recipe["image_url"], size: "50x50"), recipe["f2f_url"]%></td>
      <td><%= recipe["title"] %></td>
      <td><%= number_with_precision(recipe["social_rank"], :precision => 0)  %></td>
    </tr>
  <% end %>
</table>
<p>Powered by <a href="http://www.food2fork.com"><em>food2fork.com</em></a></p>
